* {
  box-sizing: border-box;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.linkContainer {
  width: 30%;
  border: dashed;
}

li {
  list-style-type: none;
}

li a {
  width: 100%;
  padding: 10px;
}

 li a.active {
  background-color: black;
  color: white;
}

li a:hover:not(.active) {
  background-color: green;
  color: darkgray;
}

.loginContainer {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
