* {
  box-sizing: border-box;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.linkContainer {
  width: 30%;
  border: dashed;
}

li {
  list-style-type: none;
  padding: 20px;
  border: solid 1px;
}

li a {
  text-decoration: none;
  width: 100%;
  padding: 10px;
}

li a:active {
  background-color: black;
  color: white;
}

a:hover:not(:active) {
  background-color: green;
  color: darkgray;
}

.loginContainer {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
