@import url('https://fonts.googleapis.com/css?family=Allura|Parisienne|Open+Sans');
/*universal*/
* {
    box-sizing: border-box;
 }

h1 {
    font-size: 55px;
    font-family: 'Allura', cursive;
    color: #353535; /*dark gray*/
}

h2 {
    font-size: 45px;
    font-family: 'Allura', cursive;
    color: #353535; /*dark gray*/
}

a{
    font-size: 30px;
    font-family: 'Allura', cursive;
}

p, li{
    font-family: 'Open Sans', sans-serif;
}

/* Logo Img */
.logo {

    margin-left: 20px;
    max-width: 270px;
    position: relative;
    z-index: 1;
    border-radius: 200px
}


/*nav container*/

nav {
     margin: auto;
     max-width: 100%;
     background-color: #3c6e71; /*teal*/
     font-size: 1.1em;
     line-height: 3em;
     margin-top: -10em;
     padding-left: 10em;
    
  
}

/* nav list */
nav > ul {
    border: solid 1px;
    display: flex; 
    justify-content: flex-end;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #3c6e71; /*teal*/
    color: #d9d9d9; /*light gray*/
    max-width: 100%;
    
}

    nav a {
        
        box-sizing: border-box;
        display: block;
        padding-left: 2.5em;
        padding-right: 2.5em;
        color: #d9d9d9; /*light gray*/
        

    }


    nav a:link {
        text-decoration: none;

    }

    nav a: visited {
        text-decoration: none;

    }

    nav a:hover {

        box-sizing: border-box;
        text-decoration: none;
        border: none;
        background-color: #d9d9d9; /*light gray*/
        color: #3c6e71; /*teal*/
    }
.footer{
    background-color: #3c6e71; /*teal*/
}

footer > div {
    width: 100%;
    padding: 15px;
    background-color: #3c6e71; /*teal*/
}